*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(164, 239, 164);
}
#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
}
#ptop{
    padding: 0px 25%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgb(84, 211, 84);
}
.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}
.box{
    color: rgb(32, 117, 32);
    padding: 5px;
    font-size: 15px;
    font-weight: 700;
    background-color: #fff;
    border-radius: 5px;
}
#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    width: 100%;
    height: calc(100% - 80px) ;
    background-color: black;
}
.bubble{
    display:flex ;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: azure;
    border-radius: 50%;
    color: black;
}
.bubble:hover{
    background-color: rgb(39, 111, 39);
}